body{
    font-family: sans-serif;

}    

h1{
    background-color:aqua;
    border-radius: 10px;
    height: 50px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 0px;
    color:cyan;
    text-align: left;
}

h3{
    margin-bottom: 0px;
    color: cyan;
    text-align: left;
}

h4{
    margin-bottom: 0px;
}

hr{
    margin-top: 0;
    border-color: aqua;
}

p{
    margin-top: 0;
}

.tudo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border: solid 1px;
}

.linha{
    clear: both;
}

.tituloDados{
    color: aqua;
}

.intens
{
    float: left;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: aqua;
    border-radius: 50%;
    float: right;
    margin-left: 10px
}

#foto {
    width: 30%;
    float: left;
}

#img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

#contato {
    width: 68%;
    float: left;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
}


#objetivos{
    margin: 2%;
    text-align: justify;
}

#formacao{
    margin: 2%;
    text-align: left;
}

#coluna1{
    width: 45%;
    float: left ;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%
}

#coluna2
{
    float: left;
    background-color: aqua;
    width: 1px;
    height: 400px;
}

#coluna3{
    width: 45%;
    float: left;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

